@media all and (max-width: 1000px) {

    .photo-profile img {
    width: 200px;
    padding-top: 50px;
    }

    .profile-photo {
    padding-right: 10px;
    }

    footer h1 {
      font-size: 40px;
      padding-top: 15px;
    }

    footer h2{
      font-size: 20px;
    }

    footer p{
    font-size: 12px;
    }

}

@media all and (max-width: 670px) {

  .right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .photo-profile img {
  width: 200px;
  padding-top: 50px;
  }

  .profile-photo {
    padding-right: 10px;
  }

footer {
  height: 200px;
}

footer h1 {
  font-size: 40px;
  padding-top: 35px;
}

footer h2{
  font-size: 20px;
}

footer p{
font-size: 12px;
}

}
